body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 25px;
    color: #fff;
}
h1 {
    font-size: 25px;
}
.wrapper {
    width: 1000px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.wrapper__top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background: cornflowerblue;
}
.wrapper__main {
    display: flex;
    gap: 20px;
}
.main > * {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: blue;
    height: 200px;
}
.wrapper__footer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
}
/*===================================*/
.container {
    display: flex;
    column-gap: 25px;
    color: #000;
}
.container__card {
    padding: 50px 20px;
    width: 300px;
    min-height: 200px;
    border: 2px solid silver;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__card p {
    max-width: 80%;
    text-align: center;
    opacity: 0.7;
}
.container__card a {
    display: inline-block;
    color: #000000;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 30px;
    transition: all 0.3s ease 0s;
}
.container__card a:hover {
    background: black;
    color: #fff;
}